
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.page-wrapper {
    overflow: clip;
    /* background: #e5e5e5; */

    background-color: rgb(220, 224, 217);
    /* padding-bottom: 2vh */
}

footer ul li a {
    color: #fff
}

footer {
    background: #232324;
    z-index: 1;
    position: relative;
    text-align: center
}

footer li a {
    color: #313131;
    font-weight: 500
}

footer ul li {
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px
}
