<div class="container">
  <div class="border border-secondary rounded p-3">
    <div class="my-auto">
      <p class="h5 mb-4 text-center">User Details</p>
    </div>
    <div class="row" *ngIf="user">
      <div class="col-md-4">
        <div>
          <img *ngIf="profilePic" [src]="profilePic" alt="User Photo" class="img-thumbnail"
            style="height: 270px; width:270px;" />

          <img *ngIf="!profilePic" [src]="defaultImage[user.gender]" alt="Default Avatar" class="img-thumbnail"
            style="height: 270px; width:270px;" />
        </div>
        <button type="button" class="btn btn-outline-warning" (click)="updateImage()">Update Image</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteImage()" style="margin-left: 10px;">Delete
          Image</button>
        <div class="alert alert-warning alert-dismissible fade show" *ngIf="showAlert" role="alert">
          <div class="form-inline" style="margin-top: 15px; justify-content: center; text-align: center;">
            <input class="form-control" type="file" (change)="onChange($event)">
            <button type="button" class="close" style="float: right; margin-bottom: 10px;" (click)="closeAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <p *ngIf="showMessage">Showing preview image</p>
          <div class="form-inline" style="margin-top: 15px; justify-content: center; text-align: center;">
            <button (click)="onUpload()" class="btn btn-outline-success">Upload</button>
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name : </p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"> {{user.firstName}} {{user.lastName}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email : </p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"> {{ user.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Gender : </p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"> {{ user.gender }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Enabled? : </p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"> {{ user.enabled }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Roles : </p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"> {{ user.roles[0].name }}</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>