<div class="container d-flex flex-column align-items-center">
  <form class="col-5" style="margin: 0" (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
    <div class="border border-secondary rounded p-3">
      <p class="h5 mb-4 text-center">Update Your Password</p>
      <div *ngIf="isValidUser===false">
        <label for="exampleFormControlInput1" class="form-label"
          >Please enter registered email:</label
        >
        <p>
          <input
            type="text"
            name="email"
            [(ngModel)]="model.username"
            class="form-control"
            placeholder="email"
            required
          />
        </p>
      </div>
  <div *ngIf="isValidUser">
    <div class="form-group row my-2">
      <p class="col-sm-4 ">Registered Email:</p>
      <p class="col-sm-8"> {{model.username}}</p>
    </div>
    <div class="form-group row my-4">
      <label for="exampleFormControlInput1" class="col-sm-3 col-form-label"
        >OTP :</label
      >
      <div class="col-sm-6">
        <input
          type="text"
          name="otp"
          #otp = "ngModel"
          [(ngModel)]="model.otp"
          class="form-control"
          placeholder="OTP"
          required
          [ngClass]="{
            'is-valid': otp.valid,
            'is-invalid': otp.invalid
          }"
          pattern="[0-9]{6}"
          
        />
        <div *ngIf="otp.errors?.['required'] && otp.touched" class="text-danger">
          *otp is required.
        </div>
        <div *ngIf="otp.errors?.['pattern'] && otp.touched" class="text-danger">
          *invalid format of otp.
        </div>
      </div>
      <div class="col-sm-3 ">
        <button class="btn btn-danger" [disabled]="otp.errors" (click)="validateOTP()" type="button">
          
          <span *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </span>
         
          <span *ngIf="!isLoading">Verify</span>
        </button>
      </div>
      <p *ngIf="isValidOTP && !otp.errors" class="text-success">Valid OTP</p>
      <p *ngIf="!isValidOTP && !otp.errors" class="text-danger"> Invalid OTP</p>
    </div>
    <div class="form-group row my-2">
      <label for="Password" class="col-3 col-form-label">New Password:</label>
      <div class="col-9">
        <input id="Password" type="password" name="Password" placeholder="New Password" required [(ngModel)]="model.newPassword"
          #password="ngModel" class="form-control"
          pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" [ngClass]="{
            'is-valid': password.valid,
            'is-invalid': password.invalid
          }" 
          [disabled]="!isValidOTP"/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
          <div *ngIf="password.errors?.['pattern']">
            1. It must contain at least one alphabetical character.<br />
            2. It must contain at least one digit.<br />
            3. It must contain at least one special character from the set
            @$!%*#?&.<br />
            4. It can consist of a combination of alphabetical characters,
            digits, and the specified special characters.<br />
            5. It must have a minimum length of 8 characters.
          </div>

          <div *ngIf="password.errors?.['required'] && password.touched">
            *password is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row my-2">
      <label for="exampleFormControlInput1"  class="col-sm-3 col-form-label"
        >Confirm password:</label
      >
      <div class="col-9">
        <input
          type="password"
          name="Confirm password"
          #confirmPassword = "ngModel"
          [(ngModel)]="model.confirmPassword"
          class="form-control"
          placeholder="Confirm password"
          required
          [ngClass]="{
            'is-valid': confirmPassword.valid && model.confirmPassword == model.newPassword,
            'is-invalid': confirmPassword.invalid
          }"
          [disabled]="!isValidOTP"
        />
        <div *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched" class="text-danger">
          *re-enter the password.
        </div>
        </div>
     
    </div>
  </div>

      <div class="text-center">
        <p>
          <button type="submit" value="Submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid || (isValidUser&&!isValidOTP)|| model.confirmPassword !== model.newPassword"  >
            <span *ngIf="isLoading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Sending Email...
            </span>
           
            <span *ngIf="!isLoading">Submit</span>
          </button>
        </p>
      </div>
    </div>
  </form>
  <div *ngIf="showError">
    <p class="text-danger">No user for given email</p>
  </div>
</div>
