/* .error-message{
    color: red;
}

.container {
    min-height: 100vh;
    justify-content: center;
} */
  
/* Add background image to the container */
.login-container {
    background-image: url('https://picsum.photos/1080/608');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the login form */
  .login-form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    background-color: white; 
    /* Add a semi-transparent white background to the form */
    border-radius: 30px;
    box-shadow: 0 0 60px rgba(19, 18, 18, 100);
  }
  
  /* Style the login card */
  .login-card {
    text-align: center;
  }
  
  /* Center the form elements */
  .login-form .form-label,
  .login-form .form-control,
  .login-form .btn {
    display: block;
    margin: 10px auto;
  }
  
  /* Style the error message */
  .error-message {
    color: red;
    text-align: center;
  }
  