<div class="login-container ">
  <form class="login-form" (ngSubmit)="login()">
    <div class="login-card">
      <h2 class="text-center mb-4">Please Login ...</h2>
      <div class="mb-3">
        <!-- <label for="email" class="form-label">Email</label> -->
        <input type="text" name="email" [(ngModel)]="model.username" class="form-control" id="email" placeholder="email" />
      </div>
      <div class="mb-3">
        <!-- <label for="password" class="form-label">Password</label> -->
        <input type="password" name="password" [(ngModel)]="model.password" class="form-control" id="password" placeholder="Password" />
      </div>
      <div id="register-link" class="text-right">
        <a [routerLink]="['/forgotpassword']"  class="text-secondary text-decoration-none">Forgot Password?</a>
    </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      <div class="error-message" *ngIf="loginError">{{ loginError }}</div>
    </div>
    <div class="text-center py-2" style="color: #c9c4c4;">OR</div>
    <div class="text-center text-muted">
       <a  class="google-button buttonText" href="http://localhost:3000/auth/google"><i class="fa-brands fa-google fa-xs" style="color: #B197FC;"></i> </a>
    </div>  
  </form>
</div>
